#first {
    background-color: #416788;
    height: 60px;
   display: flex;
    align-items: center;
    justify-content: center;
}
html, body {
    margin: 0;
    padding: 0;
}

#first h1 {
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7389ae;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 li a:hover {
    background-color: #111;
  }
  body {
      background-color:#b5bad0;
  }
 
body, html {
    height: 100%;
    margin: 0;
  }
#submitted{
    background-image: url("../images/blue.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#submitted{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

  #submitted:target > form {
    display: none;
  }
  #submitted:target > p {
    display: block;
  }
  #submitted:not(:target) > p {
    display: none;
  }
#name{
width:1000px;
height:50px;
margin-bottom: 10px;
    background-color:#E0E0E2;
    
}
#phone{
    width:1000px;
    height:50px;
    margin-bottom: 10px;
    background-color:#E0E0E2;
}
#email{
    width:1000px;
    height:50px;
    margin-bottom: 10px;
    background-color:#E0E0E2;
}
label{
    color:white;
    font-size:24px;
    font-weight: bold;
}

#submit{
    height:40px;
    width:80px;
    background-color: #416788;
    font-weight: bold;
}
#clear{
    height:40px;
    width:80px;
   background-color: #416788;
   font-weight: bold;
}
#message{
    width:1000px;
    height:100px;
    margin-bottom: 10px;
    background-color:#E0E0E2;
}
#submsg{
    font-size: 48px;
    color:aliceblue;
    font-weight: bold;
}
@media screen and (max-width: 640px) {
    #name{
        width:500px;
        height:50px;
        margin-bottom: 10px;
            background-color:#E0E0E2;
            
        }
        #phone{
            width:500px;
            height:50px;
            margin-bottom: 10px;
            background-color:#E0E0E2;
        }
        #email{
            width:500px;
            height:50px;
            margin-bottom: 10px;
            background-color:#E0E0E2;
        }
        label{
            color:white;
            font-size:16px;
            font-weight: bold;
        }
        
        #submit{
            height:40px;
            width:80px;
            background-color: #416788;
            font-weight: bold;
        }
        #clear{
            height:40px;
            width:80px;
           background-color: #416788;
           font-weight: bold;
        }
        #message{
            width:500px;
            height:100px;
            margin-bottom: 10px;
            background-color:#E0E0E2;
}
 #title {
      margin-top: 100px;
      width: 80%;
      font-size: x-large;
    }
    #logo {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
    }
    .dropdown {
      display: inline-block;
    }
    .navholder {
      display: none;
    }
    #navhtml h3 {
      display: none;
    }
    #navhtml {
      float: left;
    }
}

